cxml-study-case/target/classes/cxml-study-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
	<!-- Namespace Declarations -->

	<mulexml:namespace-manager
		includeConfigNamespaces="true">
		<mulexml:namespace prefix="tas"
			uri="http://study.com/TaskRegister" />
	</mulexml:namespace-manager>
    <mulexml:jaxb-context name="JAXB_Context" packageNames="br.study.cxml.model" doc:name="JAXB Context"/>
    <spring:beans>
        <spring:bean id="DTDValidation" name="validationDOMDefinition" class="br.study.cxml.validator.DTDValidation"/>
    </spring:beans>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" doc:name="HTTP Request Configuration"/>

	<flow name="TaskRegister_Flow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/cxml/*" doc:name="HTTP" />
		<cxf:proxy-service wsdlLocation="TaskRegister.wsdl"
			payload="body" doc:name="CXF" namespace="http://study.com/TaskRegister"
			service="TaskRegister" />
        <mulexml:jaxb-xml-to-object-transformer returnClass="br.study.cxml.model.Task" jaxbContext-ref="JAXB_Context" doc:name="JAXB Transformation"/>
       	<custom-transformer class="br.study.cxml.transformer.DTDTransformation" doc:name="DTD Transformation"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/TaskDTD" method="POST" doc:name="HTTP"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message metadata:id="157e7f05-7e47-4ca3-9fa5-2733b2c63828" doc:name="Success Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://study.com/TaskRegister
---
{
	ns0#taskRegisterResponse: {
		ns0#code: "200",
		ns0#Description: "Sucesso"
	}
}]]></dw:set-payload>
        </dw:transform-message>
	</flow>
    <flow name="DTD_Post_Validation">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/TaskDTD" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <invoke name="validateDef" object-ref="validationDOMDefinition" method="validateDOM" methodArguments="#[payload]" doc:name="Invoke"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
</mule>
